body{

    background: linear-gradient(bottom, cornflowerblue, white);

}

.calculadora{
    width: 50vh;
    height: 60vh;
    border: 2px groove cornflowerblue;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    background-color: khaki;
    padding-bottom: 3%;
}


#resultado{
    width: 90%;
    text-align: center;
    border: 2px solid lightcoral;
}

.btn{
    height: 9vh;
}